---
import thematicUniverseBlog from "../assets/blog-universo-temático.png";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { Image } from "astro:assets";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="pt-BR">
  <head>
    <BaseHead
      title="Sobre | Blog Universo Temático"
      description="Blog Universo Temático é um espaço feito para que sejam compartilhados conhecimentos sobre os mais variados temas — e também para dar voz a outras pessoas que queiram dividir suas ideias por meio de artigos."
    />
  </head>
  <body>
    <Header />

    <main>
      <Image
        src={thematicUniverseBlog}
        alt="Logotipo do 'Blog Universo Temático' com fundo preto e uma esfera azul-ciano ao centro. A palavra 'UNIVERSO' aparece em branco sobre uma faixa preta horizontal. Acima, está a palavra 'BLOG' em branco, com três estrelas pretas estilizadas formando uma curva ao lado esquerdo e acima da palavra. A palavra 'TEMÁTICO' aparece em branco abaixo da faixa, acompanhando a curvatura da esfera."
        height={512}
        width={1024}
        class="w-full"
      />

      <h1 class="my-4 text-center">Blog Universo Temático</h1>

      <p>
        Olá! Seja bem-vindo ao Blog Universo Temático, um espaço criado para
        compartilhar conhecimentos sobre os mais variados temas e também para
        dar voz a outras pessoas que desejam dividir suas ideias por meio de
        artigos.
      </p>
      <p>
        Seu nome reflete justamente essa proposta: liberdade para explorar
        qualquer assunto com relevância e profundidade. Embora existam limites
        naturais, o objetivo é abrir espaço para que conteúdos de todo o mundo
        ganhem vida e despertem novas ideias em sua mente.
      </p>
      <p>
        Este espaço está destinado a ser um verdadeiro lar de conforto e
        conhecimento para sua mente — um ponto de partida para que novas ideias
        possam ser compartilhadas com o seu público, com o meu ou com o mundo.
      </p>
      <p>
        Se você é desenvolvedor front-end ou full-stack, o código-fonte deste
        projeto está disponível no
        <a
          href="https://github.com/Erick-Leite/Astro-Thematic-Universe-Blog"
          target="_blank">GitHub</a
        >.
      </p>
      <p>
        Sinta-se à vontade para fazer um pull request ou utilizá-lo como base
        para a criação do seu próprio blog.
      </p>
    </main>

    <Footer />
  </body>
</html>
