---
import BaseHead from "@components/BaseHead.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "consts";
---

<!doctype html>
<html lang="pt-BR">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="flex min-h-dvh flex-col items-center justify-between">
    <Header />

    <main class="my-auto flex max-w-full flex-col gap-5 text-center">
      <h1>{SITE_TITLE}</h1>

      <p>
        Olá! Seja bem-vindo ao Blog Universo Temático — um espaço criado para
        compartilhar conhecimentos sobre os mais variados temas e dar voz a quem
        deseja dividir suas ideias por meio de artigos.
      </p>

      <div class="flex flex-wrap items-center justify-center gap-2">
        <a
          href="/blog"
          class="bg-primary-800 hover:bg-primary-900 dark:bg-primary-200 hover:dark:bg-primary-100 text-primary-200 dark:text-primary-800 rounded-xl p-2"
          >Confira as últimas postagens</a
        >
        <a
          href="/about"
          class="border-primary-800 hover:border-primary-900 dark:border-primary-200 hover:dark:border-primary-100 bg-primary-800/20 hover:bg-primary-800/40 dark:bg-primary-200/20 hover:dark:bg-primary-200/40 text-primary-800 hover:text-primary-900 dark:text-primary-200 hover:dark:text-primary-100 rounded-xl border p-2"
          >Saiba mais</a
        >
      </div>
    </main>

    <Footer />
  </body>
</html>
