---
import { SITE_TITLE, AUTHOR } from "consts";
import { X, GitHub, Gmail } from "./social-icons";

const today = new Date();
---

<footer
  class="text-secondary-700 dark:text-secondary-300 pt-8 pr-4 pb-24 pl-4 text-center"
>
  {AUTHOR} • &copy; {today.getFullYear()} • {SITE_TITLE}
  <div class="mt-4 flex justify-center gap-4">
    <a
      class="text-secondary-700 hover:text-secondary-900 dark:text-secondary-300 hover:dark:text-secondary-100"
      href="https://x.com/erickleite338"
      target="_blank"
    >
      <span class="sr-only">Siga-me no X</span>
      <X class="size-8" />
    </a>
    <a
      class="text-secondary-700 hover:text-secondary-900 dark:text-secondary-300 hover:dark:text-secondary-100"
      href="https://github.com/Erick-Leite/Astro-Thematic-Universe-Blog"
      target="_blank"
    >
      <span class="sr-only">Acesse o repositório do blog no GitHub</span>
      <GitHub class="size-8" />
    </a>
    <a
      class="text-secondary-700 hover:text-secondary-900 dark:text-secondary-300 hover:dark:text-secondary-100"
      href="mailto:erickleite338@gmail.com"
      target="_blank"
    >
      <span class="sr-only">Envie-me uma mensagem no Gmail</span>
      <Gmail class="size-8" />
    </a>
  </div>
</footer>
