---
import { SITE_TITLE } from "../consts";
import HeaderLink from "./HeaderLink.astro";
import Logo from "./Logo.astro";
import MobileNavButton from "./MobileNavButton.astro";
import { X, GitHub, Gmail } from "./social-icons";
import SwitchTheme from "./SwitchTheme.astro";
---

<header class="absolute inset-x-0 top-0 z-100 max-h-screen">
  <nav
    id="nav-bar"
    class="shadow-primary-800/5 dark:shadow-primary-200/5 flex h-16 items-center justify-between bg-white px-4 shadow-[0_2px_8px] dark:bg-black"
  >
    <a href="/" class="inline-flex items-end gap-0.25">
      <Logo
        class="fill-primary-800 hover:fill-primary-900 dark:fill-primary-200 dark:hover:fill-primary-100 w-6"
      />
      <span
        class="text-primary-800 dark:text-primary-200 text-xl font-bold max-sm:hidden"
        aria-label={SITE_TITLE}
        >log <span class="capitalize">universo temático</span></span
      >
    </a>

    <div class="flex gap-5">
      <div class="text-primary-800 dark:text-primary-200 max-sm:hidden">
        <HeaderLink
          class="[&.active]:border-b-tertiary-900 dark:[&.active]:border-b-tertiary-200 border-b-4 border-transparent px-2 py-4 text-lg text-inherit"
          href="/">Home</HeaderLink
        >
        <HeaderLink
          class="[&.active]:border-b-tertiary-900 dark:[&.active]:border-b-tertiary-200 border-b-4 border-transparent px-2 py-4 text-lg text-inherit"
          href="/blog">Blog</HeaderLink
        >
        <HeaderLink
          class="[&.active]:border-b-tertiary-900 dark:[&.active]:border-b-tertiary-200 border-b-4 border-transparent px-2 py-4 text-lg text-inherit"
          href="/about">Sobre</HeaderLink
        >
      </div>

      <div class="inline-flex items-center justify-between gap-7 min-sm:-mt-2">
        <SwitchTheme class="-m-2.5 size-6 p-2.5" />
        <MobileNavButton
          id="mobile-nav-button"
          class="-m-2.5 size-6 p-2.5 min-sm:hidden"
          ariaControls="mobile-nav"
        />
      </div>
    </div>
  </nav>

  <nav
    id="mobile-nav"
    class="pointer-events-none fixed top-16 right-0 h-[calc(100vh-4rem)] w-full translate-x-full transform bg-white px-4 transition-transform duration-200 ease-in-out min-sm:hidden dark:bg-black"
    aria-hidden="true"
  >
    <div class="text-primary-800 dark:text-primary-200 flex flex-col pb-2">
      <HeaderLink
        class="py-4 text-center text-base font-semibold text-inherit"
        href="/">Home</HeaderLink
      >
      <HeaderLink
        class="py-4 text-center text-base font-semibold text-inherit"
        href="/blog">Blog</HeaderLink
      >
      <HeaderLink
        class="py-4 text-center text-base font-semibold text-inherit"
        href="/about">Sobre</HeaderLink
      >
    </div>
    <hr />
    <div
      class="text-primary-800 dark:text-primary-200 flex justify-around gap-4 px-4 py-6"
    >
      <a
        class="-m-2.5 p-2.5 text-inherit"
        href="https://x.com/erickleite338"
        target="_blank"
      >
        <span class="sr-only">Siga-me no X</span>
        <X class="size-8" />
      </a>
      <a
        class="-m-2.5 p-2.5 text-inherit"
        href="https://github.com/Erick-Leite"
        target="_blank"
      >
        <span class="sr-only">Siga-me no GitHub</span>
        <GitHub class="size-8" />
      </a>
      <a
        class="-m-2.5 p-2.5 text-inherit"
        href="mailto:erickleite338@gmail.com"
        target="_blank"
      >
        <span class="sr-only">Envie-me um e-mail</span>
        <Gmail class="size-8" />
      </a>
    </div>
  </nav>
</header>
<!-- Espaço reservado para compensar a altura do header -->
<div class="h-16"></div>

<script>
  const navBar = document.getElementById("nav-bar");
  const mobileNavButton = document.getElementById("mobile-nav-button");
  const mobileNav = document.getElementById("mobile-nav");

  let isOpen = false;

  const openMenu = () => {
    if (!navBar || !mobileNav) return;

    document.body.style.overflow = "hidden";
    navBar.classList.add("fixed", "inset-x-0");
    mobileNav.setAttribute("aria-hidden", "false");
    mobileNav.classList.remove("pointer-events-none", "translate-x-full");
    mobileNav.classList.add("pointer-events-auto", "translate-x-0");
  };

  const closeMenu = () => {
    if (!navBar || !mobileNav) return;

    document.body.style.overflow = "auto";
    navBar.classList.remove("fixed", "inset-x-0");
    mobileNav.setAttribute("aria-hidden", "true");
    mobileNav.classList.remove("pointer-events-auto", "translate-x-0");
    mobileNav.classList.add("pointer-events-none", "translate-x-full");
  };

  mobileNavButton?.addEventListener("click", () => {
    isOpen = !isOpen;

    isOpen ? openMenu() : closeMenu();
  });

  document.addEventListener("keydown", (e) => {
    if (e.key === "Escape" && isOpen) {
      closeMenu();
    }
  });
</script>
